alias sudo="sudo "
alias skw="sudo killwine -9"
alias stats="s-tui"
alias ilogout="i3-msg exit"
alias powertune="powertop --auto-tune"
#alias ls="ls --color=tty --group-directories-first"
#alias batstats="upower -i /org/freedesktop/UPower/devices/battery_BAT0"
alias batstats="upower -i /org/freedesktop/UPower/devices/battery_BAT0 && upower -i /org/freedesktop/UPower/devices/battery_BAT1"
alias lastinstalled="expac --timefmt='%F %T' '%l %n' | sort -n"
#alias yyyyclip="xclip -selection c"
alias moff="xset dpms force off"
alias open="xdg-open"
alias orphans="sudo pacman -Qtdq"
alias tomato="tty-clock-tomato"
alias pomato="python $HOME/Documents/Code/Pomato/pomato.py"
alias qc="python ~/quickcell/src/quickcell.py"
alias banner="toilet -f smmono12"
alias bannerp="toilet -f pagga"
#alias font="fontpreview --preview-text abcdefghijklmnopqrstuvwxyzåäö ABCDEFGHIJKLMNOPQRSTUVWXYZÅÄÖ 0123456789" #.:;\(*!?\'/\'\"£$€&\)'"
#alias pdf="open \"$(locate '/home/kontroll' | grep '\.pdf$' | fzf)\"'"
alias yt="ytfzf -t"
alias dcom="docker-compose"

# Replace some common utilities with beefier cousins
alias ls="exa --group-directories-first"
alias l="ls -l"
alias ll="ls -la"

# Sane "defaults" for commands
alias df="df -h"
alias mv="mv -iv"
alias cp="cp -riv"
alias mkdir="mkdir -vp"
alias mg="mg -n"
alias pcp="rsync -ah --progress"
alias rgt="rg -g '*.{org,txt}'"

# Lazy times
alias y="yay"
alias -g ...='../..'
alias -g ....='../../..'
alias -g .....='../../../..'
alias -g ......='../../../../..'

# Experimental
alias cl=". cl"
alias cr=". cr"

############################
# systemctl aliases
alias start="systemctl start"
alias stop="systemctl stop"
alias status="systemctl status"

bindkey '^z'    fancy-ctrl-z
bindkey -s '^X^K' ' tput reset\n'
# bindkey -s '^\b'   " cd ..\n"

### ARCHIVE EXTRACTION
# usage: ex <file>
ex ()
{
  if [ -f $1 ] ; then
    case $1 in
      *.tar.bz2)   tar xjf $1   ;;
      *.tar.gz)    tar xzf $1   ;;
      *.bz2)       bunzip2 $1   ;;
      *.rar)       unrar x $1   ;;
      *.gz)        gunzip $1    ;;
      *.tar)       tar xf $1    ;;
      *.tbz2)      tar xjf $1   ;;
      *.tgz)       tar xzf $1   ;;
      *.zip)       unzip $1     ;;
      *.Z)         uncompress $1;;
      *.7z)        7z x $1      ;;
      *.deb)       ar x $1      ;;
      *.tar.xz)    tar xf $1    ;;
      *.tar.zst)   unzstd $1    ;;      
      *)           echo "'$1' cannot be extracted via ex()" ;;
    esac
  else
    echo "'$1' is not a valid file"
  fi
}

weather(){
  curl -s "wttr.in/$1" | head -n 37
}

fancy-ctrl-z() {
    emulate -LR zsh
    if [[ $BUFFER -eq 0 ]]; then
	bg
	zle redisplay
    else
	zle push-input
    fi
}
zle -N fancy-ctrl-z

cd() {
    if [[ $1 = - ]]; then
	builtin cd "$OLDPWD" || return 1
    else
	builtin cd "$@" || return 1
    fi

    if [[ ! $1 = "" ]]; then
        l
    fi
}

k() {
    [[ $1 == "add" ]] && echo $PWD > ~/.scripts/paths/$2 && return 0
    [[ -z $1 ]] && cd "$(cat ~/.scripts/paths/$(ls ~/.scripts/paths/ | fzf))" && return 0
    [[ ! -f ~/.scripts/paths/$1 ]] && echo "No such path alias." && return 1

    cd "$(cat ~/.scripts/paths/$1)"
}

countdown(){
   date1=$((`date +%s` + $1));
   while [ "$date1" -ge `date +%s` ]; do
     echo -ne "$(date -u --date @$(($date1 - `date +%s`)) +%H:%M:%S)\r";
     sleep 0.1
   done
}

stopwatch(){
  date1=`date +%s`;
   while true; do
    echo -ne "$(date -u --date @$((`date +%s` - $date1)) +%H:%M:%S)\r";
    sleep 0.1
   done
}

latest(){
  echo $(ls | tail -n 1)
}

mcd ()
{
    mkdir -p -- "$1" &&
      cd -P -- "$1"
}

pcat(){
    which $1 | xargs cat
}

bannerrain(){
    #echo $@ | tr "[:lower:]" "[:upper:]" | tr "[:space:]" "\n" | bannerp
    echo $@ | fold -s -w15 | banner --rainbow
    #bannertext=$(echo $@ | tr "[:lower:]" "[:upper:]")
    #echo $bannertext
 #   bannerp $bannertext
}

bannermono(){
     echo $@ | fold -s -w15 | banner
}

bannerrain-clear(){
    clear && (bannerrain $@) && read -n 1
}

bannermono-clear(){
    clear && (bannermono $@) && read -n 1
}

function yta() {
    mpv --ytdl-format=bestaudio ytdl://ytsearch:"$*"
}

